body{
    margin: 0px;
    background-color:lightcyan;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: lightblue;
    color:white;
    padding: 3rem 2rem;
}

header h1{
    font-size: 3rem;
    text-align: center;
}